---
title: "art_boids"
collection: projects
permalink: /projects/art_boids
excerpt: 'This paper is about art boids'
date: 2021-3-27

header:
  overlay_image: /assets/images/boids_thumbnail.png
  overlay_filter: 0.5 # same as adding an opacity of 0.5 to a black background
  teaser: /assets/images/boids_thumbnail.png

unity_dir: art_boids 


citation: 
---
<h1>summary</h1>

Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam 
est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi 
tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

<h1>method</h1>

<h1>demo</h1>

<center>
<!-- unity player -->
{% if page.unity_dir %}
{% include page__unity.html %}
{% endif %}
</center>
 